<div class="pageContainer">
<h2 class="formHeader">My Children's Information</h2>

    <% @children.each do |child| %>
      <div style="margin-bottom: 40px;">
        <h3 class="formHeader"><%= child.first_name %></h3>
        <p>BIRTHDAY: <%= child.birthday %></p>
        <p>GENDER: <%= child.gender.name %><p>
        <p>NOTES: <%= child.notes %></p>
        <div style="display: flex; flex-direction: row; justify-content: space-around; margin-top:10px;">
          <%= link_to 'Edit', edit_child_path(child), class: "btnPrimary btnPrimarySmall" %>
          <%= link_to 'Delete', child, method: :delete, data: { confirm: 'Are you sure?' }, class: "btnSecondary btnSecondarySmall btnAlert" %>
        </div>
      </div>
    <% end %>

<%= link_to 'New Child', new_child_path, class: "btnPrimary" %>

</div>
