
<p>
  <strong>First name:</strong>
  <%= @child.first_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @child.birthday %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @child.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @child.user %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
