<div class="pageContainer">
  <h2 class="signUpHeader">First, let's start with information about you</h2>
  <div class="formStandard">
    <div class="signUpProgress">
      <%= image_tag('line.svg', style: "z-index: 100;") %>
      <div class="dotContainer">
        <div class="dot purpleDot"></div>
        <div class="dot greyDot"></div>
        <div class="dot greyDot"></div>
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="uploadUserImageSection">
      <%= f.label :photo, class: "settingsPhotoLabel", :style => "background-image: url(#{image_path('avatar.svg')})" do %>
            <%= image_tag(image_url('camera.svg'), class: 'uploadCameraImage') %>
      <% end %>
      <%= f.file_field :photo, class: "settingsPhotoInput" %>
    </div>

    <div class="field">
      <%= f.label 'FIRST NAME', class: "labelStandard" %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "inputStandard" %>
    </div>

    <div class="field">
      <%= f.label 'LAST NAME', class: "labelStandard" %><br />
      <%= f.text_field :last_name, autocomplete: "last_name", class: "inputStandard" %>
    </div>

    <div class="field">
      <%= f.label 'EMAIL', class: "labelStandard" %><br />
      <%= f.email_field :email, autocomplete: "email", class: "inputStandard" %>
    </div>

    <div class="field">
      <%= f.label 'PHONE', class: "labelStandard" %><br />
      <%= f.phone_field :phone, autocomplete: "phone", id: 'phoneNumber', class: "inputStandard" %>
    </div>

    <div class="field">
      <%= f.label 'PASSWORD', class: "labelStandard" %>
      <% if @minimum_password_length %>
      <em class="labelStandard">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "inputStandard" %>
    </div>

    <div class="field">
      <%= f.label 'CONFIRM PASSWORD', class: "labelStandard" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "inputStandard" %>
    </div>

    <div class="actions">
      <%= f.submit "Continue", class: "btnPrimary btnPrimaryLarge" %>
    </div>
    <% end %>
  </div>
</div>
