<head>
  <!-- Hotjar Tracking Code for http://app.caresplit.com -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1485638,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<div class="splitNav">
    <h3 class="splitNavItem selectedSplitNavItem" id="availableNav">Available</h3>
    <h3 class="splitNavItem" id="bookedNav">She's hosting</h3>
    <h3 class="splitNavItem" id="hostNav">I'm hosting</h3>
</div>
<div class="availabilityContainer">
  <div class="availableSplitContainer">
    <% @availabilities.each.with_index do |a, index| %>
      <% if(index === 0 || a.start_date.strftime('%^a, %^b %-d') != @availabilities[index-1].start_date.strftime('%^a, %^b %-d'))  %>
        <h1 class="listItemDate"><%= a.start_date.strftime('%^a - %^b %-d') %></h1>
      <% end %>
      <%= render partial: 'availabilities/availability_item', :locals => {availability: a} %>
    <% end %>
  </div>

  <div class="bookedSplitContainer" style="display: none;">
    <% @bookedSplits.each.with_index do |a, index| %>
      <% if(index === 0 || (a.availability.start_date.strftime('%^a, %^b %-d') != @bookedSplits[index-1].availability.start_date.strftime('%^a, %^b %-d')))  %>
        <h1 class="listItemDate"><%= a.availability.start_date.strftime('%^a - %^b %-d') %></h1>
      <% end %>
      <%= render partial: 'availabilities/split_item', :locals => {split: a} %>
    <% end %>
  </div>

  <div class="hostSplitContainer" style="display: none;">
    <% @hostingSplits.each.with_index do |a, index| %>
      <% if(index === 0 || a.availability.start_date.strftime('%^a, %^b %-d') != @hostingSplits[index-1].availability.start_date.strftime('%^a, %^b %-d'))  %>
        <h1 class="listItemDate"><%= a.availability.start_date.strftime('%^a - %^b %-d') %></h1>
      <% end %>
      <%= render partial: 'availabilities/split_item', :locals => {split: a} %>
    <% end %>
  </div>
    <%= link_to new_availability_path do %>
      <div class='bannerBtn'>
        <h3>+ Add My Availability</h3>
      </div>
    <% end %>
</div>
