<head>
  <!-- Hotjar Tracking Code for http://app.caresplit.com -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1485638,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<div class="pageContainer">
<h2 class="formHeader">FAQ</h2>

<div class="FAQContainer">

  <div class="FAQContainerClosed" id="faq1">
    <h3>How do I earn credits? </h3>
    <div class='faqArrow faqArrowDown'>
      <%= image_tag('chevronDown.svg', id: 'open1') %>
    </div>
    <div class='faqArrow faqArrowUp'>
      <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close1') %>
    </div>
  </div>
  <div id="content1" style="display:none;">
    <p>You earn credits by hosting another mom's kids for a playdate with your own. One credit = one hour of time, so if you host a 2 hour playdate, you'll earn 2 credits.  <br></div>

  <div class="FAQContainerClosed" id="faq2">
    <h3>How do I redeem credits?</h3>
    <div class='faqArrow faqArrowDown'>
      <%= image_tag('chevronDown.svg', id: 'open2') %>
    </div>
    <div class='faqArrow faqArrowUp'>
      <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close2') %>
    </div>
  </div>
  <div id="content2" style="display:none;">
    <p>Redeem your credits by booking an available "split" another mom is hosting. Your kids will enjoy a playdate while you get some time to yourself.

  </div>
  <div class="FAQContainerClosed" id="faq3">
    <h3>Can I book more than 1 split at a time? </h3>
    <div class='faqArrow faqArrowDown'>
      <%= image_tag('chevronDown.svg', id: 'open3') %>
    </div>
    <div class='faqArrow faqArrowUp'>
      <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close3') %>
    </div>
  </div>
  <div id="content3" style="display:none;">
    <p>Yes! You can set up as many as you would like.<br>
      </div>

<div class="FAQContainerClosed" id="faq4">
        <h3>What happens if I run out of credits? </h3>
        <div class='faqArrow faqArrowDown'>
          <%= image_tag('chevronDown.svg', id: 'open4') %>
        </div>
        <div class='faqArrow faqArrowUp'>
          <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close4') %>
        </div>
      </div>
      <div id="content4" style="display:none;">
        <p>Add your availability to host playdates for other moms. You'll earn a credit for each hour you host!<br>
          </div>

<div class="FAQContainerClosed" id="faq5">
                  <h3>What is a split group? </h3>
                  <div class='faqArrow faqArrowDown'>
                    <%= image_tag('chevronDown.svg', id: 'open5') %>
                  </div>
                  <div class='faqArrow faqArrowUp'>
                    <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close5') %>
                  </div>
                </div>
                <div id="content5" style="display:none;">
                  <p>A split group is your private community of moms to swap childcare with. It may be a group that has other moms from church, school or another community you are a part of. <br>  </div>

<div class="FAQContainerClosed" id="faq6">
                            <h3>How do I invite other moms to my group? </h3>
                            <div class='faqArrow faqArrowDown'>
                              <%= image_tag('chevronDown.svg', id: 'open6') %>
                            </div>
                            <div class='faqArrow faqArrowUp'>
                              <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close6') %>
                            </div>
                          </div>
                          <div id="content6" style="display:none;">
                            <p>Under "My Group", you'll see a button that says "Invite a new person". Add the contact info for a mom you think should join your split group. Be sure to only invite moms you know and trust so we can keep the community safe for everyone.<br> </div>

</div>
</div>

<script>
  $(document).on('click', '#faq1', function() {
    console.log('click')
    $('#content1, #open1, #close1, #content1').toggle()

  })
  $(document).on('click', '#faq2', function() {
    console.log('click')
    $('#content2, #open2, #close2, #content2').toggle()
  })
  $(document).on('click', '#faq3', function() {
    console.log('click')
    $('#content3, #open3, #close3, #content3').toggle()

  })
  $(document).on('click', '#faq4', function() {
    console.log('click')
    $('#content4, #open4, #close4, #content4').toggle()

  })
  $(document).on('click', '#faq5', function() {
    console.log('click')
    $('#content5, #open5, #close5, #content5').toggle()

  })
  $(document).on('click', '#faq6', function() {
    console.log('click')
    $('#content6, #open6, #close6, #content6').toggle()

  })
</script>
