<head>
  <!-- Hotjar Tracking Code for http://app.caresplit.com -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1485638,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<div class="pageContainer">
<h2 class="formHeader">FAQ</h2>

<div class="FAQContainer">

  <div class="FAQContainerClosed" id="faq1">
    <h3>What is Caresplit? </h3>
    <div class='faqArrow faqArrowDown'>
      <%= image_tag('chevronDown.svg', id: 'open1') %>
    </div>
    <div class='faqArrow faqArrowUp'>
      <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close1') %>
    </div>
  </div>
  <div id="content1" style="display:none;">
    <p>We’re a company that’s trying to change childcare forever. We usually connect moms to each other to swap hosting each other’s kids instead of paying a babysitter. But of course, we’re not encouraging in-person playdates because of COVID-19. We’re fully virtual for now - helping all the parents whose children are suddenly home because of school closures.
  <div class="FAQContainerClosed" id="faq2">
    <h3>What can I use Caresplit for? </h3>
    <div class='faqArrow faqArrowDown'>
      <%= image_tag('chevronDown.svg', id: 'open2') %>
    </div>
    <div class='faqArrow faqArrowUp'>
      <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close2') %>
    </div>
  </div>
  <div id="content2" style="display:none;">
    <p>During COVID-19, we’ve moved to a virtual service where another parent can “supervise” your kids while you work from home, shower, get stuff done around the house or care for a loved one.
  </div>
  <div class="FAQContainerClosed" id="faq3">
    <h3>How does it work virtually? </h3>
    <div class='faqArrow faqArrowDown'>
      <%= image_tag('chevronDown.svg', id: 'open3') %>
    </div>
    <div class='faqArrow faqArrowUp'>
      <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close3') %>
    </div>
  </div>
  <div id="content3" style="display:none;">
    <p>Parents start or join a group of other parents that will use video chat, like FaceTime or Skype to swap supervising homework for each other. While one parent leads reading or science, the other can work from home or get other things done around the house.<br>
      </div>

<div class="FAQContainerClosed" id="faq4">
        <h3>What is a group? </h3>
        <div class='faqArrow faqArrowDown'>
          <%= image_tag('chevronDown.svg', id: 'open4') %>
        </div>
        <div class='faqArrow faqArrowUp'>
          <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close4') %>
        </div>
      </div>
      <div id="content4" style="display:none;">
        <p>This is your private community of parents to swap hosting virtual homework sessions with. This could be other parents from your child’s school, church or even family/friends. <br>
          </div>

<div class="FAQContainerClosed" id="faq5">
                  <h3>How do I invite someone to my group? </h3>
                  <div class='faqArrow faqArrowDown'>
                    <%= image_tag('chevronDown.svg', id: 'open5') %>
                  </div>
                  <div class='faqArrow faqArrowUp'>
                    <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close5') %>
                  </div>
                </div>
                <div id="content5" style="display:none;">
                  <p>Under "My Group", you'll see a button that says "Invite a new person". Add the contact info for a parent you think should join your group and trade off video supervision. <br>  </div>

<div class="FAQContainerClosed" id="faq6">
                            <h3>What happens first? </h3>
                            <div class='faqArrow faqArrowDown'>
                              <%= image_tag('chevronDown.svg', id: 'open6') %>
                            </div>
                            <div class='faqArrow faqArrowUp'>
                              <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close6') %>
                            </div>
                          </div>
                          <div id="content6" style="display:none;">
                            <p>After you login for the first time and fill out some information about your family, you add your availabilities to help others - dates, times and subjects you can cover. Example: Reading out loud , March 31, 1pm-2pm. You can choose any block of time that works for you, from 30 mins up to a couple of hours.
<br> </div>
<div class="FAQContainerClosed" id="faq7">
                            <h3>I’ve added when I’m free to supervise someone’s child over video. What next?
 </h3>
                            <div class='faqArrow faqArrowDown'>
                              <%= image_tag('chevronDown.svg', id: 'open7') %>
                            </div>
                            <div class='faqArrow faqArrowUp'>
                              <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close7') %>
                            </div>
                          </div>
                          <div id="content7" style="display:none;">
                            <p>Other parents can see when you are free under “Available sessions”. You can also view when they are free and send requests to them for when you need to work or do something around the house. You’ll see how to connect with them via FaceTime or Skype.
<br> </div>
<div class="FAQContainerClosed" id="faq8">
                            <h3>How can I help other parents who are struggling? </h3>
                            <div class='faqArrow faqArrowDown'>
                              <%= image_tag('chevronDown.svg', id: 'open8') %>
                            </div>
                            <div class='faqArrow faqArrowUp'>
                              <%= image_tag('chevronUp.svg', style: 'display:none;', id: 'close8') %>
                            </div>
                          </div>
                          <div id="content8" style="display:none;">
                            <p>Invite them to your group or send them to www.caresplit.com/virtual. We’re all in this together during this challenging time and can band together to help each other out.
<br> </div>

</div>
</div>

<script>
  $(document).on('click', '#faq1', function() {
    console.log('click')
    $('#content1, #open1, #close1, #content1').toggle()

  })
  $(document).on('click', '#faq2', function() {
    console.log('click')
    $('#content2, #open2, #close2, #content2').toggle()
  })
  $(document).on('click', '#faq3', function() {
    console.log('click')
    $('#content3, #open3, #close3, #content3').toggle()

  })
  $(document).on('click', '#faq4', function() {
    console.log('click')
    $('#content4, #open4, #close4, #content4').toggle()

  })
  $(document).on('click', '#faq5', function() {
    console.log('click')
    $('#content5, #open5, #close5, #content5').toggle()

  })
  $(document).on('click', '#faq6', function() {
    console.log('click')
    $('#content6, #open6, #close6, #content6').toggle()

  })
  $(document).on('click', '#faq7', function() {
    console.log('click')
    $('#content7, #open7, #close7, #content7').toggle()

  })
  $(document).on('click', '#faq8', function() {
    console.log('click')
    $('#content8, #open8, #close8, #content8').toggle()

  })
</script>
