<head>
  <!-- Hotjar Tracking Code for http://app.caresplit.com -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1485638,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<div class="mobile hidden">
  <div class="welcomeImageMobile">
  </div>
  <div style="margin: auto; text-align: center;">
    <%= link_to image_tag('logo.png', style:"height: 50px;"), dashboard_path, class:"topNavHeader" %>
    <%= render partial: 'devise/sessions/new' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <h5>Need an account? <div class="btnSignUp"><%= link_to "Sign up", new_registration_path(resource_name) %></div>
</div>
</div>
</div>

<div class="desktop">
  <div class="welcomeImageDesktop">
    <div style="margin: auto; text-align: center;">
      <%= link_to image_tag('logo.png', style:"height: 50px;"), dashboard_path, class:"topNavHeader" %>
      <%= render partial: 'devise/sessions/new' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <h5>Need an account? <%= link_to "Sign up", new_registration_path(resource_name) %></h5>
    </div>
  </div>
</div>

<script>
$(window).on("load resize", function() {
      if ($(window).width() > 600) {
        $(".mobile").addClass('hidden');
        $(".desktop").removeClass('hidden');
      } else {
        $(".desktop").addClass('hidden');
        $(".mobile").removeClass('hidden');
      }
});

</script>
