<div class="pageContainer">
  <h2 class="formHeader">Now let's create a Split Group!</h2>
  <div class="formStandard">
    <div class="signUpProgress">
      <%= image_tag('line.svg', style: "z-index: 100;") %>
      <div class="dotContainer">
        <div class="dot purpleDot"></div>
        <div class="dot pinkDot"></div>
        <div class="dot blueDot"></div>
      </div>
    </div>
    <%= form_tag({:action => 'create_group_onboard'}) do %>
      <div class="field">
        <h3>Group Name</h3>
        <%= text_field_tag 'group[name]', '', options={class: "inputStandard"} %>
      </div>

      <h3 class="inFormInstructions">Add your mom friends to start splitting care</h3>

      <div id="user_form" class="field">
        <h3>PHONE</h3>
        <%= text_field_tag 'group_user[][phone]', '', class: "inputStandard",  id: 'phoneNumber' %>
      </div>
      <div id="new_user_form" class="field" style="display:none; margin-top: 15px;">
        <h3>PHONE</h3>
        <%= text_field_tag 'group_user[][phone]', '', class: "inputStandard",  id: 'phoneNumber' %>
      </div>
      <div class="subActions">
        <button id="add_group_user" class='darkBtnPrimary'>+ Add Another</button>
      </div>
      <div class="actions">
        <%= submit_tag "Finish", class: 'btnPrimary btnPrimaryLarge' %>
      </div>
    <% end %>
  </div>
</div>


<script>
  $('#add_group_user').bind('click', function(e) {
      e.preventDefault();
      var row = $('#new_user_form').clone()
      $('#user_form').append(row.removeAttr("id").toggle())
  });
</script>
