<div class="pageContainer">
  <div class="signUpHeading">Next, tell other parents how they can reach you.</div>
    <div class="formStandard">
      <div class="signUpProgress">
        <%= image_tag('line.svg', style: "z-index: 100;") %>
        <div class="dotContainer">
          <div class="dot greyDot"></div>
          <div class="dot purpleDot"></div>
          <div class="dot greyDot"></div>
          <div class="dot greyDot"></div>
        </div>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>


          <div class="field">
            <%= f.label 'PHONE', class: "labelStandard" %>
            <%= f.phone_field :phone, autocomplete: "phone", id: 'phoneNumber', class: "inputStandard" %>
          </div>

          <div class="field">
            <%= f.label 'ZIP OR POST CODE', class: "labelStandard" %>
            <%= f.text_field :home_address, autocomplete: "address", class: "inputStandard" %>
          </div>

          <div class="field">
            <%= f.label 'Facetime Number', class: "labelStandard" %>
            <%= f.text_field :facetime, class: "inputStandard" %>
          </div>

          <div class="field">
            <%= f.label 'Zoom Link', class: "labelStandard" %>
            <%= f.text_field :zoom, class: "inputStandard" %>
          </div>

          <div class="field">
            <%= f.label 'Skype Handle', class: "labelStandard" %>
            <%= f.text_field :skype, class: "inputStandard" %>
          </div>

          <div class="field">
            <%= f.label 'Hangouts Link', class: "labelStandard" %>
            <%= f.text_field :hangouts, class: "inputStandard" %>
          </div>

          <div class="field">
            <%= f.label 'COUNTRY', class: "labelStandard" %>
            <%= f.text_field :country, class: "inputStandard" %>
          </div>

          <div class="actions">
            <%= f.submit "Next", class: "btnPrimary btnPrimaryLarge" %>
          </div>
        <% end %>
      </div>
    </div>
</div>
