<div class="formStandard">
  <h1 class="formHeader">Forgot your password?</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "labelStandard" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inputStandard" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btnPrimary btnPrimaryLarge" %>
    </div>
  <% end %>
</div>
<div style="margin: auto; text-align: center;">
  <%= render "devise/shared/links" %>
</div>
