<%= form_for(credit) do |f| %>
  <% if credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% credit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :split_id %>
    <%= f.text_field :split_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :add_credits %>
    <%= f.check_box :add_credits %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
