<div class="splitItem">
  <div class="splitItemContent">
    <%= image_tag(image_url(availability.user.photo(:thumb)), class: 'splitImage') %>
    <div>
      <p style="font-weight: 600"><%= availability.user.id === current_user.id ? "Me" : availability.user.first_name %></p>
      <p><%= availability.activity %></p>
      <!-- <p><%#= availability.location_address %></p> -->
      <p><%= availability.start_time.strftime('%l:%M %P') %> - <%= availability.end_time.strftime('%l:%M %P') %></p>
    </div>
    <div class="splitItemBtnSection">
      <%# @credits = ((availability.end_time.to_i/3600)-(availability.start_time.to_i/3600)) %>
      <!-- <p style=""><%#= @credits %> <%#= @credits === 1 ? 'CREDIT' : 'CREDITS' %></p> -->
        <% if availability.user_id === current_user.id %>
          <%= link_to('Edit', edit_availability_path(availability), class: 'btnSecondarySmall') %>
        <% else %>
          <%= link_to('View', availability_path(availability), class: 'btnPrimary btnPrimarySmall') %>
        <% end %>
    </div>
  </div>
</div>
