<div class="formStandard">
  <%= form_for(availability) do |f| %>
    <% if availability.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

        <ul>
        <% availability.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label 'ACTIVITY (ex: science, reading out loud, handwriting, art)', class: 'labelStandard' %>
      <%= f.text_field :activity, class: 'inputStandard', required: true %>
    </div>

    <div class="field">
      <%= f.label 'DATE', class: 'labelStandard' %>
      <%= f.text_field :start_date, data:{ provide:'datepicker' },:readonly => true, class: 'inputStandard', required: true %>
    </div>

    <!-- <div class="field">
      <%#= f.label 'START TIME', class: 'labelStandard' %>
      <%#= f.select :start_time, @time_select_options, class: 'inputStandard' %>
    </div> -->
    <div class="field">
      <%= f.label 'START TIME', class: 'labelStandard' %>
      <div><%= f.time_select :start_time, class: 'inputStandard', minute_step: 15 %></div>
    </div>

    <div class="field">
      <%= f.label 'END TIME', class: 'labelStandard' %>
      <div><%= f.time_select :end_time, class: 'inputStandard', minute_step: 15 %></div>
    </div>

    <div class="field">
      <%= f.label 'LOCATION', class: 'labelStandard' %>

      <div class="radioButtonSection">
        <input type="radio" name="location" id="myHouse" value="My House">My House
      </div>
      <div class="radioButtonSection">
        <input type="radio" name="location" id="virtual" value="Virtual">Virtual
      </div>
      <% if current_user.facetime != nil  && current_user.facetime.length > 2 %>
        <div class="radioButtonSection">
          <input type="radio" name="location" id="tbd" value="<%= current_user.facetime %>">Facetime: <%= current_user.facetime %>
        </div>
      <% end %>
      <% if current_user.skype != nil  && current_user.skype.length > 2 %>
        <div class="radioButtonSection">
          <input type="radio" name="location" id="tbd" value="<%= current_user.skype %>">Skype: <%= current_user.skype %>
        </div>
      <% end %>
      <% if current_user.zoom != nil  && current_user.zoom.length > 2 %>
        <div class="radioButtonSection">
          <input type="radio" name="location" id="tbd" value="<%= current_user.zoom %>">Zoom: <%= current_user.zoom %>
        </div>
      <% end %>
      <% if current_user.hangouts != nil  && current_user.hangouts.length > 2 %>
        <div class="radioButtonSection">
          <input type="radio" name="location" id="tbd" value="<%= current_user.hangouts %>">Google Hangouts: <%= current_user.hangouts %>
        </div>
      <% end %>
      <div class="radioButtonSection">
        <input type="radio" name="location" id="other" value="">Other
      </div>
      <div id="hiddenLocationFieldContainer" style="display:none;">
        <%= f.text_field :location, class: 'inputStandard', id:"hiddenLocationField" %>
      </div>

    </div>

      <%#= f.text_field :location_address, class: 'inputStandard' %>



    <div class="field">
      <%= f.label 'NOTES (OPTIONAL)', class: 'labelStandard' %>
      <%= f.text_field :notes, class: 'inputStandard' %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit', class: 'btnPrimary btnPrimaryLarge' %>
    </div>
  <% end %>
</div>
