<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @availability.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @availability.end_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @availability.user %>
</p>

<% if @availability.user === current_user %>
  <%= link_to 'Edit', edit_availability_path(@availability), class: "btnPrimarySmall" %>
  <%= link_to 'Cancel Split', edit_availability_path(@availability), class: "btnSecondarySmall" %>
<% elsif @availability.splits.count === 0  %>
  <%= link_to 'Request', request_split_path(@availability), class: "btnPrimarySmall" %>
<% end %>
