
  <%= @credits %> Credits

<p>
  <strong>Start time:</strong>
  <%= @availability.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @availability.end_time %>
</p>



<p>
  <strong>User:</strong>
  <%= @availability.user %>
</p>

<% if @availability.user === current_user %>
  <%= link_to 'Edit', edit_availability_path(@availability), class: "btnPrimary btnPrimarySmall" %>
  <%= link_to 'Cancel Split', edit_availability_path(@availability), class: "btnSecondarySmall" %>
<% elsif @credits > current_user.credits  %>
  <div class="alert alert-error" style="text-align: center;">Not Enough Credits to Book</div>
<% elsif @availability.splits.count === 0  %>
  <h3 class="btnPrimary btnPrimarySmall">Request</h3 >
  <%= link_to 'Request', request_split_path(@availability), class: "btnPrimary btnPrimarySmall" %>
<% end %>
