<div id="sideMenu">
  <div class="navMenuHeader navMenuText">
    <%= image_tag('close.svg', id: 'closeMenu', style: 'cursor: pointer;') %>
    <h1 style="margin:auto;">Menu</h1>
  </div>
  <div class="navMenuItem">
    <%= link_to "Splits", dashboard_path, class: "navMenuText" %>
  </div>
  <div class="navMenuItem">
    <%= link_to "My Group", my_groups_path, class: "navMenuText"  %>
  </div>
  <div class="navMenuItem">
    <%= link_to 'My Account', edit_user_registration_path, class: "navMenuText"  %>
  </div>
  <div class="navMenuItem">
    <%= link_to "Credit History", credits_path, class: "navMenuText"   %>
  </div>
  <div class="navMenuItem">
    <%= link_to "FAQ", faq_path, class: "navMenuText"   %>
  </div>
  <div class="navMenuItem">
    <%= link_to "Terms of Use", terms_of_service_path, class: "navMenuText"   %>
  </div>
  <div class="navMenuItem">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navMenuText"   %>
  </div>

</div>
