<div id="sideMenu">
  <h1>Menu</h1>
  <%= link_to "Splits", dashboard_path %>
  <br/>
  <%= link_to "My Group", my_groups_path %>
  <br />
  <%= link_to 'My Account', edit_user_registration_path %>
  <br />
  <%= link_to "FAQ", faq_path  %>
  <br />
  <%= link_to "Terms of Use", terms_of_service_path  %>
  <br/>
  <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
<% else %>
</div>
