<!DOCTYPE html>
<html>
  <head>
    <title>Caresplit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.google.com/specimen/Cabin' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">

    <!-- DataTables plugin -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

    <!-- Hotjar Tracking Code for http://app.caresplit.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1485638,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>

  <body>
      <% if user_signed_in? %>
        <%= render partial: 'layouts/side_menu_nav' %>
        <div class="topNav">
            <%= image_tag('menu.svg', id: "hambugerMenu")%>
            <%= link_to image_tag('logo.png', style:"height: 50px;"), dashboard_path, class:"topNavHeader" %>
        </div>
        <% if user_signed_in? %>
          <div class="creditSection"><h3 class="creditText">Credits available: <%= current_user.credits %></h3></div>
        <% end %>

        <% if @page_title != nil %>
          <h1 style="padding: 20px; font-size: 24px;"><%= @page_title %></h1>
        <% end %>

      <% else %>
        <p id="hambugerMenu"></p>
      <% end %>
      
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
    <%= yield %>

  </body>
</html>
